<%- include("includes/header") %>



<% let totalAskeleet = 0; %>
<% let paivat = 0; %>

<% const kuukaudetTeksti = [
    "Tammikuu", "Helmikuu", "Maaliskuu", "Huhtikuu", "Toukokuu", "Kesäkuu",
    "Heinäkuu", "Elokuu", "Syyskuu", "Lokakuu", "Marraskuu", "Joulukuu"
]; %>


<style>
    .mdl-table-container {
        margin-bottom: 20px;
    }
    .mdl-data-table {
        width: 100%; 
    }
    .mdl-data-table th, .mdl-data-table td {
        text-align: left; 
    }
</style>  

<% if (Boolean(virhe)) { %>
    <div class="virhe"><%= virhe %></div>
    <% } else {%>

<form method="POST" action="/upload" enctype="multipart/form-data">
    <% if (jsonData) { %>
        <% const ekaRivi = jsonData[0]; %>
        <% const kuukausiTeksti = kuukaudetTeksti[ekaRivi.kk - 1]; %>
        <h4><%=kuukausiTeksti +" "+ ekaRivi.vvvv %></h4> <%// otsikko: datan sisällä numero vastaa kuukautta%>

        <% jsonData.forEach((suoritus) => { %>
            <% totalAskeleet += suoritus.askeleet; %>

        
            <% paivat += 1; %>
        <% }); %>

        
        <div class="total-askeleet" >Askeleita yhteensä: <%= totalAskeleet %> askelta. Keskimäärin <%= Math.round(totalAskeleet/paivat) %> päivässä.</div>
        <br>
        <div class="mdl-table-container">
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric" style="color:black;">Pvm</th>
                        <th class="mdl-data-table__cell--non-numeric" style="color:black;">Askeleet</th>
                    </tr>
                </thead>
                <tbody>
                    <% jsonData.forEach((suoritus) => { %>
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric"><%= suoritus.pp + "." + suoritus.kk + "." + suoritus.vvvv %></td>
                            <td class="mdl-data-table__cell--non-numeric"><%= suoritus.askeleet %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>

    <% } else { %>
        <div class="virhe">Tiedosto puuttuu.</div>
    <% } %>

    <br>
    
</form>

<% } %>

<a href="/" class="mdl-button mdl-button--raised" style="width: 25%;">Palaa alkuun</a>

<%- include("includes/footer") %>